
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 7%;
    background-color: #121010;
    z-index: 1000;
} 
.logo-img{
    width: 35px;
    cursor: pointer;
}
.logo-img img{
    width: 100%;
    border-radius: 50%;
}
ul{
    display: flex;
    transition: all .5s;
}
ul li{
   list-style-type: none; 
   margin: 0 15px;
}ul li a
{
    text-decoration: none;
    color:#ded7d7;
    transition: .5s;
}

ul li a:hover{
    color:red;
}
#click{
    display: none;
}
.menu-btn{
    display: none;
    color: #ded7d7;
    font-size: 22px;
    cursor: pointer;
}

/* responsive nav */
@media screen and (max-width: 940px) {
    .menu-btn{
        display: block;
    }
    ul{
        position: fixed;
        top: 50px;
        right:-100%;
        height: 100%;
        width: 100%;
        flex-direction: column;
        text-align: center;
        background-color: #121010;
        padding-top: 100px; 
        transition: all 0.5s ease;
    }
    ul li {
        margin-top: 40px;
    }
    ul li a{
        font-size: 22px;
    }
    #click:checked ~ .menu-btn i::before{
        content:"\f00d";
    }
    #click:checked ~ ul{
        left: 0%;
        transition: all 5s;
    }

}
/* navbar complite */

/* header area code strat here */
.main{
    margin-top: -35px;
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.main-conteiner{
    width: 1100px;
   color: #ded7d7;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main h4{
    margin-bottom: 25px;
}
.main h4 span{
    background-color: #292626;
    padding: 3px 5px;
   border-radius: 4px;
}
.main-conteiner h2{
    margin-bottom: 30px;
}
.main-conteiner h1 {
    margin: 10px 0;
}
.main-conteiner h1 span{
    color:transparent;
    text-decoration: underline;
    background: linear-gradient(to right, red , #3b0468);
    -webkit-background-clip:text ;
    position: relative;

}
.main-conteiner h1 span::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 150px;
    background: linear-gradient(to right, red , #3b0468);
}
.main-content p{
    color: gray;
}
.home-btn{
    display: flex;
}
.home-btn h4:first-child{
    background: linear-gradient(to right, red , #3b0468);
    padding: 10px 13px;
    border-radius: 5px;
    margin-top: 30px;
}
.home-btn h4:last-child{
    position: relative;
    background:  linear-gradient(to right, red , #3b0468);
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 13px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 18px;
    z-index: 5;
}
 .home-btn h4:last-child::before{
    content: '';
    position: absolute;
    top: 3;
    left: 3;
    width: 130px;
    height: 35px;
    background:linear-gradient(to right, red , #3b0468) ;

}

.home-btn h4:last-child::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 132px;
    height: 35px;
    background:black ;

} 